*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
}


#root{
    height: 100%;
    width: 100%;
}


.container{
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.upgrades{
    min-width: 10%;
    min-height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 60, 248);
}

.upgrades .btn{
    height: 70px;
}

.clicker-container{
    height: 100%;
    width: 100%;
    text-align: left;
}

.info{
    padding: 20px;
    min-width: 100%;
    background-color: rgba(49, 101, 221, 0.1);
}

.clicker{
   text-align: center;
   margin: 20px;
}

.clicker .btn{
    height: 200px;
    width: 200px;
}

.helpers-info{
    display: flex;
    justify-content: space-between;
    padding: 20px 400px;
}